.footer {
  padding: 4.188% 0 3.75%;
  color: #545454;
  font-size: 1.125rem;
  line-height: 1.1;
}

@media (max-width: 879px) and (min-width: 320px) {
  .footer {
    padding: 3.125% 1.188% 2.25%;
  }
}
