.page {
  color: #ffffff;
  background-color: #000000;
  max-width: 1280px;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0 200px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.content{
  width: 882px;
}

@media screen and (max-width: 880px) {
  .page {
    padding: 0 3.125%;
  }
}

@media (max-width: 879px) and (min-width: 320px) {
  .page {
    padding: 0;
  }
}

