.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0 ,0 ,0 ,0.5);
}

.popup__content{
  width: 100%;
  max-width: 430px;
  min-height: 323px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px;
}

.popup__form {
  margin-top: 27px;
}

.popup__button-closed {
  top: -35px;
  right: -35px;
  cursor: pointer;
  position: absolute;
}

.popup__button-closed:hover {
  opacity: 50%;
}

.popup__header {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  margin: 0;
}

.popup__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0 ,0 ,0 ,0.2);
  font-size: 14px;
  line-height: 16.94px;
  padding: 10px 0 0px;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: 47px;
}

.popup__button-create {
  font-size: 18px;
  line-height: 21.78px;
  background-color: #000;
  color: #ffffff;
  margin-top: 48px;
  border-radius: 2px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.popup__button-create:hover {
  opacity: 80%;
  cursor: pointer;
}

.popup__button_disabled {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  opacity: 20%;
  pointer-events: none;
}

.popup__error-visible {
  color: red;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: 2px 0 0 36px;
}

.popup__open {
  display: flex;
}

.popup__input:invalid {
  border-bottom: 1px solid red;
}


@media screen and (max-width: 544px) {
  .popup {
    bottom: 112px;
  }

  .popup__content {
    width: 100%;
    max-width: 80%;
    margin-top: 8px;
    padding: 25px 22px;
  }

  .popup__form {
    margin-top: 53px;
  }

  .popup__button-closed {
    max-width: 26px;
    top: -40px;
    right: -1px;
  }

  .popup__header {
    font-size: 18px;
    line-height: 21.78px;
  }

  .popup__button-create {
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 46px;
    height: 46px;
  }
}
